*{
    margin: 0;
    padding: 0;
    font-family:'poppins',sans-serif;
    box-sizing: border-box;
}
body{
    background-color: rgba(241, 209, 91, 0.962);
    text-align: center;
}

.container{
   height: 70vh;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 1.5vmin;
  
}

.game{
    height: 60vmin;   
    width: 60vmin; 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0,0,0,0.3);
    font-size: 8vmin;
    color:#0d0d0d;
    background-color: #ec9034;
}

#res-btn{
     padding: 1rem;
     font-size: 1.25rem;
     background-color: #191913;
     color: #fff;
     border-radius: 1rem;
     border: none;

}

#new-game{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #191913;
    color: #fff;
    border-radius: 1rem;
    border: none;
}

#msg{
  color: #fb0505;
  font-size: 5vmin;
}
.msg-container{
  height: 100vmin;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 4rem;

}

.hide{
    display: none;
}